@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Rubik:wght@300&display=swap');

/*'Istok Web', sans-serif;*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family:'Istok Web', sans-serif;
    --main-text-color: black;
    --add-text-color: rgb(112, 112, 112);
    --accent-text-color: rgb(255, 255, 255);
    --accent-color: rgb(246, 153, 70);
    --button-color: rgb(169, 198, 35);
    --button-color-link: rgb(113, 134, 16);
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.title {
    color: var(--accent-color);
    font-size: 0.875rem;
    font-weight: 700;
}