@import url("https://fonts.googleapis.com/css2?family=Istok+Web&family=Rubik:wght@300&display=swap");
/*'Istok Web', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Istok+Web&family=Rubik:wght@300&display=swap");
/* 'Bricolage Grotesque', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Istok Web", sans-serif;
  --main-text-color: rgb(51, 51, 51);
  --add-text-color: rgb(112, 112, 112);
  --accent-text-color: rgb(255, 255, 255);
  --accent-color: rgb(246, 153, 70);
  --button-color: rgb(169, 198, 35);
  --button-color-link: rgb(113, 134, 16);
  --button-accent-color-link: rgb(243, 116, 5);
  --info-color: rgb(164, 157, 152);
  --background-color: rgb(251, 244, 240);
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.title {
  color: var(--accent-color);
  font-size: 0.875rem;
  font-weight: 700;
  padding-left: 15px;
}
.title-accent {
  color: var(--button-color);
}
.subtitle {
  font-size: 2.125rem;
  font-weight: 700;
  color: var(--main-text-color);
  padding: 15px;
}
.text {
  color: var(--main-text-color);
  font-size: 1.125rem;
}
.subtext {
  color: var(--add-text-color);
  font-size: 1rem;
  padding: 15px;
}
