<div class="choose-us container">
  <div></div>
  <div class="choose-us_container">
    <h2 class="title title-accent">Why Choose Us</h2>
    <h3 class="subtitle">Tasty and Healty Organic Produts for You</h3>
    <p class="text">
      Our goal is to make your everyday shopping really easy and pleasant. We
      work with the best local farms, producers, and grocery stores.
    </p>
    <div class="choose-us__cards">
      <div class="choose-us__card">
        <img
          class="choose-us__card-icon"
          src="../img/icon-delibery.svg"
          alt="hand and box"
        />
        <div class="choose-us__text">
          <h4 class="text">Free Delivery</h4>
          <p class="subtext">Free delivery for all orders from $49.</p>
        </div>
      </div>
      <div class="choose-us__card">
        <img
          class="choose-us__card-icon"
          src="../img/icon-discount.svg"
          alt="percent in the circle"
        />
        <div class="choose-us__text">
          <h4 class="text">Discounts</h4>
          <p class="subtext">We have weekly discounts on all items.</p>
        </div>
      </div>
      <div class="choose-us__card">
        <img
          class="choose-us__card-icon"
          src="../img/icon-support.svg"
          alt="woman with microphon"
        />
        <div class="choose-us__text">
          <h4 class="text">Support 24/7</h4>
          <p class="subtext">Want to change your order? Just contact us.</p>
        </div>
      </div>
      <div class="choose-us__card">
        <img
          class="choose-us__card-icon"
          src="../img/icon-easy-pay.svg"
          alt="phone and card"
        />
        <div class="choose-us__text">
          <h4 class="text">Easy App</h4>
          <p class="subtext">Order fresh produce on-the-go with our app.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="choose-us__number">
  <div class="choose-us__number-item menu">
    <p class="number">7</p>
    <p class="text">NY boroughs covered</p>
  </div>
  <div class="choose-us__number-item menu">
    <p class="number">300+</p>
    <p class="text">Fresh fruit & vegetables every day</p>
  </div>
  <div class="choose-us__number-item menu">
    <p class="number">12,000</p>
    <p class="text">Happy clients in 2022</p>
  </div>
  <div class="choose-us__number-item menu">
    <p class="number">74</p>
    <p class="text">Accurate couriers</p>
  </div>
</div>
