<div class="fresh-deals container">
  <div class="fresh-deals__title">
    <h2 class="title">Fresh Deals</h2>
    <h3 class="subtitle">Right Off the Vine</h3>
    <p class="text">
      We are constantly updating our range and adding seasonal items. Check out
      the freshest products and add them to your shopping cart.
    </p>
  </div>
  <div class="fresh-deals__cards-fruits card">
    <h4 class="card-fruit__title">Fruit</h4>
    <section class="card-fruit">
      <div class="card-fruit__item">
        <a class="button--figs" href="#"></a>
        <a class="button--card-text" href="#">Fresh Figs</a>
        <p class="item-price">5,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-fruit__item">
        <a class="button--limes" href="#"></a>
        <a class="button--card-text" href="#">Limes</a>
        <p class="item-price">1,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-fruit__item">
        <a class="button--peaches" href="#"></a>
        <a class="button--card-text" href="#">Peaches</a>
        <p class="item-price">3,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-fruit__item">
        <a class="button--oranges" href="#"></a>
        <a class="button--card-text" href="#">Fresh Figs</a>
        <p class="item-price">2,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
    </section>
  </div>
  <div class="fresh-deals__cards-vegetables card">
    <h4 class="card-vegetable__title">Vegetables</h4>
    <section class="card-vegetable">
      <div class="card-vegetable__item">
        <a class="button--pepers" href="#"></a>
        <a class="button--card-text" href="#">Bell Pepper</a>
        <p class="item-price">8,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-vegetable__item">
        <a class="button--tomatoes" href="#"></a>
        <a class="button--card-text" href="#">Tomatoes</a>
        <p class="item-price">4,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-vegetable__item">
        <a class="button--carrots" href="#"></a>
        <a class="button--card-text" href="#">Carrots</a>
        <p class="item-price">1,60USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-vegetable__item">
        <a class="button--pumpkin" href="#"></a>
        <a class="button--card-text" href="#">Pumpkin</a>
        <p class="item-price">1,50USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
    </section>
  </div>
  <div class="fresh-deals__cards-berries card">
    <h4 class="card-berries__title">Berries</h4>
    <section class="card-berries">
      <div class="card-berries__item">
        <a class="button--blueberries" href="#"></a>
        <a class="button--card-text" href="#">Blueberries</a>
        <p class="item-price">5,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-berries__item">
        <a class="button--grapes" href="#"></a>
        <a class="button--card-text" href="#">Red Grapes</a>
        <p class="item-price">3,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-berries__item">
        <a class="button--water-melon" href="#"></a>
        <a class="button--card-text" href="#">Water Melon</a>
        <p class="item-price">6,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-berries__item">
        <a class="button--raspberries" href="#"></a>
        <a class="button--card-text" href="#">Raspberries</a>
        <p class="item-price">3,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
    </section>
  </div>
  <div class="fresh-deals__cards-nuts card">
    <h4 class="card-nuts__title">Nuts</h4>
    <section class="card-nuts">
      <div class="card-nuts__item">
        <a class="button--cashew" href="#"></a>
        <a class="button--card-text" href="#">Cashew Nuts</a>
        <p class="item-price">13,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-nuts__item">
        <a class="button--macadamia" href="#"></a>
        <a class="button--card-text" href="#">Macadamia Nuts</a>
        <p class="item-price">17,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-nuts__item">
        <a class="button--walnuts" href="#"></a>
        <a class="button--card-text" href="#">Raw Walnuts</a>
        <p class="item-price">9,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
      <div class="card-nuts__item">
        <a class="button--pistachios" href="#"></a>
        <a class="button--card-text" href="#">Pistachios</a>
        <p class="item-price">12,00USD</p>
        <button class="button--card-buy">Buy Now</button>
      </div>
    </section>
  </div>
  
</div>
