<header class="header">
    <nav class="header__nav container">
        <div class="header__logo-container">
            <a href="#" class="header__logo-link">
                <img class="header__logo-img" src="img/logo.svg" alt="orange logo">
            </a>
        </div>
        <!-- <button class="header__burger-menu">
            <span class="header__burger-menu-line"></span>
            <span class="header__burger-menu-line"></span>
            <span class="header__burger-menu-line"></span>
        </button> -->
        <!-- <ul class="header__menu">
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">About Us</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Shop</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Best Deals</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">App</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Contacts</a>
            </li>
            <li class="header__call"> Call us: <a href="tel:+380676000811" class="header__call-link">+38 (067) 600 08 11</a></li>
        </ul> -->

    </nav>
    <div class="header__hero container">
        <h2 class="title">Shop</h2>
        <p class="header__subtitle">
            <span class="header__subtitle-color">Shop for Groceries</span>
            Online Here
        </p>
        <div class="header__hero-button"><a href="#" class="button">Shop Now</a>
            <a href="#" class="button--primary">Try Our App</a>
        </div>
    </div>
    <div class="header__background-down container">
        <img src="https://res2.weblium.site/res/603426f1a34a270022c1936a/605defd2cc41190021ac5d76_optimized_1920.webp"
            alt="uneven line">
    </div>
    <div class="header__products container">
        <div class="header__products-item">
            <img class="header__products-photo"
                src="https://res2.weblium.site/res/603426f1a34a270022c1936a/605bd792acb1ce0022ac0df5" alt="icon fruits">
            <p class="header__products-text">Fresh Fruit</p>
        </div>
        <div class="header__products-item">
            <img class="header__products-photo"
                src="https://res2.weblium.site/res/603426f1a34a270022c1936a/605bde54e328210021d746a7"
                alt="icon vegetables">
            <p class="header__products-text">Vegetables</p>
        </div>
        <div class="header__products-item">
            <img class="header__products-photo"
                src="https://res2.weblium.site/res/603426f1a34a270022c1936a/605bdef7459abf0022d92bc2"
                alt="icon berries">
            <p class="header__products-text">Berries</p>
        </div>
        <div class="header__products-item">
            <img class="header__products-photo"
                src="https://res2.weblium.site/res/603426f1a34a270022c1936a/605bdf3244786e0021cfe885" alt="icon nuts">
            <p class="header__products-text">Nuts</p>
        </div>
        <div class="header__products-item">
            <img class="header__products-photo"
                src="https://res2.weblium.site/res/603426f1a34a270022c1936a/605be1742967af002168165b"
                alt="icon beverages">
            <p class="header__products-text">Beverages</p>
        </div>
    </div>
</header>