<div class="how-works container">
  <h1 class="title title-accent">How It Works</h1>
  <h2 class="subtitle">Dont Worry, We'll Deliver</h2>
  <p class="text">
    We work with a number of local farms and grocery stores to deliver you the
    freshest and organic product for your delicious dishes.
  </p>
  <div class="how-works__cards">
  <div class="how-works__card">
    <img
      class="how-works__card-icon"
      src="../img/how-work-icon.svg"
      alt="backet with vegetables"
    />
    <h4 class="text">
      <span class="how-works__card-number">1.</span> Choose Items
    </h4>
    <p class="subtext">
      Shop online right on this website and select the items you need.
    </p>
  </div>
  <div class="how-works__card">
    <img
      class="how-works__card-icon"
      src="../img/how-work-icon-order.svg"
      alt="hand and phone"
    />
    <h4 class="text">
      <span class="how-works__card-number">2.</span> Place an Order
    </h4>
    <p class="subtext">
      Add the items to cart and pay for your order online, then specify the
      delivery time frame.
    </p>
  </div>
  <div class="how-works__card">
    <img
      class="how-works__card-icon"
      src="../img/how-work-icon-moto.svg"
      alt="men in the moto"
    />
    <h4 class="text">
      <span class="how-works__card-number">3.</span> Get Your Delivery
    </h4>
    <p class="subtext">
        We will deliver you order right in time. We use eco-friendly packaging.
    </p>
</div>
  </div>
  <div class="how-works__offer-card">
  <div class="how-works__offer">
    <p class="how-works__offer-text">25% off</p>
    <h6 class="how-works__offer-title">Weekly Sales</h6>
    <a class="button--offer" href="#">Shop Now
        <svg
          class="button-icon"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          preserveAspectRatio="none"
          x="0px"
          y="0px"
          viewBox="0 0 100 100"
          style="max-width: 100%"
          height="100%"
        >
          <defs style="" fill="currentColor">
            <g id="a" style="" fill="currentColor">
              <path
                fill="currentColor"
                stroke="currentColor"
                d=" M 55.25 35.75 Q 55.25 38.2 61.55 43.8 62.2 44.35 67.25 48.4 55.2 48.3 26.15 47.2 22.45 47.2 21.1 48.25 20.15 49 20.15 50.9 20.15 55 47.75 54.2 58.45 53.9 66.75 52.95 68.1 52.8 69.25 52.6 67.15 54.6 62.05 59.3 54.9 66 54.9 66.2 54.9 67 55.15 67.05 L 55.4 66.95 Q 60.5 67.75 70.55 59.8 79.9 52.4 79.9 50.25 58.3 32.95 58.15 32.95 56.7 32.95 55.85 34 55.25 34.85 55.25 35.75 Z"
                style=""
              ></path>
            </g>
          </defs>
          <g transform="matrix( 1, 0, 0, 1, 0,0) " style="" fill="currentColor">
            <use xlink:href="#a" style="" fill="currentColor"></use>
          </g>
        </svg>
    </a>
 </div>
 <div class="how-works__special">
    <p class="how-works__offer-text">Exotic</p>
    <h6 class="how-works__offer-title">Fresh Fruit</h6>
    <a class="button--offer" href="#">Shop Now
        <svg
          class="button-icon"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          preserveAspectRatio="none"
          x="0px"
          y="0px"
          viewBox="0 0 100 100"
          style="max-width: 100%"
          height="100%"
        >
          <defs style="" fill="currentColor">
            <g id="a" style="" fill="currentColor">
              <path
                fill="currentColor"
                stroke="currentColor"
                d=" M 55.25 35.75 Q 55.25 38.2 61.55 43.8 62.2 44.35 67.25 48.4 55.2 48.3 26.15 47.2 22.45 47.2 21.1 48.25 20.15 49 20.15 50.9 20.15 55 47.75 54.2 58.45 53.9 66.75 52.95 68.1 52.8 69.25 52.6 67.15 54.6 62.05 59.3 54.9 66 54.9 66.2 54.9 67 55.15 67.05 L 55.4 66.95 Q 60.5 67.75 70.55 59.8 79.9 52.4 79.9 50.25 58.3 32.95 58.15 32.95 56.7 32.95 55.85 34 55.25 34.85 55.25 35.75 Z"
                style=""
              ></path>
            </g>
          </defs>
          <g transform="matrix( 1, 0, 0, 1, 0,0) " style="" fill="currentColor">
            <use xlink:href="#a" style="" fill="currentColor"></use>
          </g>
        </svg>
    </a>
 </div>
</div>
</div>
